html {
	background-image: url('images/background1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.index {
	background-image: url('images/background1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

 {
	margin-top: : 45px;
}
